# matplotlib
# matplotlib-inline
# numpy
# pandas
# plotly
# seaborn
# scikit-learn
# streamlit
# streamlit-pandas-profiling
# xgboost
# pandas-profiling
# pydantic-settings
# ydata-profiling 
# pydantic==1.10.8

streamlit
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
xgboost
